@import '../../CssVariables/colors.scss';

.adoption-wrapper{
    background-color: $primary-color;
    overflow-y: auto; /* Ustawienie przewijania tylko w pionie dla zawartości .adoption-wrapper */
    z-index: 1;
    padding: 20px; 
}
.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:55vh;
    width: 100%;
    transition: 2s;
    opacity: 0;
    margin-bottom: 2vh;
    &.show{
        opacity: 1;
    }
    &:nth-child(odd){
        transform:translateX(50px);
    }
    &:nth-child(even){
        transform:translateX(-50px);
    }
    &:last-child{
        margin-bottom: 15vh;
    }
    .paws{
        display: flex;  
        justify-content: center;
        align-items: flex-end;
        transform: rotateX(180deg);
        height: 15vh;
        width: 15vh;
        max-height: 100px;
        max-width: 100px;
        background-size: cover;
        .number{
            margin-bottom: 5px;
            transform: rotateX(180deg);
            color: white;
        }

    }
    h2{
        width: 50%;
        text-align: center;
        margin: 2% 0 ;
    }
    p{ 
        text-align: justify;
        width: 50%;
    }
}
@media screen and (orientation:landscape){
    .adoption-wrapper{
        margin-top: 10vh;
    }
    .steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:25vh;
        width: 100%;
        transition: 2s;
        opacity: 0;
        margin-bottom: 2vh;
    }
}